@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap");
* {
  margin: 0;
  padding: 0; }

/*  GOOLGE FONTS  */
header {
  background-image: linear-gradient(-90deg, #43cea2, #185a9d); }
  header h1 {
    color: black;
    text-align: center; }
  header nav {
    text-transform: uppercase;
    font-weight: bold; }

/******* INDEX *********/
.tituloNoticias {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.tituloNoticias h2 {
  font-size: 50px; }

.cardsNovedades {
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.cardsNovedades {
  box-shadow: 0px 1xp 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.cardsNovedades:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-6%); }

.cardUno {
  padding: 0;
  margin: 50px; }

.cardDos {
  padding: 0;
  margin: 50px; }

.cardTres {
  padding: 0;
  margin: 50px; }

.tituloCredencial {
  text-align: center;
  margin-bottom: 50px;
  font-size: 100px; }

.tituloCredencial h2 {
  font-size: 50px; }

.credencial {
  margin-bottom: 50px;
  padding: 1; }

.credencial ul li {
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px; }

.imagenCredencial {
  border-radius: 4px; }

/* PLANES */
.tituloPlanes {
  font-size: 50px; }

.cardPlanes {
  width: 14rem;
  border: 1px solid black; }

.listaPlanes ul li {
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px; }

/* CONTACTO  */
.formulario {
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: white;
  margin: 25px; }

.parrafos {
  font-family: 'Inter Tight', sans-serif;
  font-size: 22px; }

footer {
  background-image: linear-gradient(-90deg, #43cea2, #185a9d); }
